In [ ]:
# Operational Database ETL

In [2]:
import pandas as pd

In [24]:
df=pd.read_csv("customer sales.csv")

In [9]:
df.shape

(150, 15)

In [10]:
df.head()

,Cust_ID,first_name,last_name,Cust_address,Cust_state,Cust_postcode,Invoice_No,Invoice_Date,Invoice_time,Line_No,Quantity,Item_No,Item_type,Item_price,Discount
0,X674,Nerti,Pentlow,849 Shasta Trail,Colorado,81010,ZDTR827NO,17/04/2021,10:09 AM,D52,5,FZ349,Soup - Campbellschix Stew,64.4,9
1,D570,Jordan,Dreier,1 Summit Avenue,Missouri,65211,BMXG722YG,27/09/2021,11:10 PM,B16,10,WG897,Bacardi Breezer - Tropical,95.3,6
2,J883,Ferdinanda,Vasenkov,589 Blue Bill Park Point,Georgia,30336,MQBW148KK,2/9/2021,7:33 PM,J01,8,FA271,"Pasta - Spaghetti, Dry",93.0,12
3,N854,Laryssa,Lidstone,3 Eliot Terrace,Texas,75353,VPLT986VP,9/7/2021,9:01 PM,L29,1,EX622,Carrots - Jumbo,13.4,8
4,C465,Bobette,Philipson,29801 Hagan Place,California,92612,RMTS932JX,12/5/2021,11:02 AM,Z46,8,CN516,Hold Up Tool Storage Rack,6.4,12

In [12]:
df.isnull().sum()

Cust_ID          0
first_name       0
last_name        0
Cust_address     0
Cust_state       0
Cust_postcode    0
Invoice_No       0
Invoice_Date     0
Invoice_time     0
Line_No          0
Quantity         0
Item_No          0
Item_type        0
Item_price       0
Discount         0
dtype: int64

## Loading Data in Operational DB tables

In [13]:
import mysql.connector as msql
from mysql.connector import Error
try:
    conn = msql.connect(host='localhost', user='root',  
                        password='cbr250R0471@')#give ur username, password
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("CREATE DATABASE sales")
        print("Database is created")
except Error as e:
    print("Error while connecting to MySQL", e)

Database is created

In [26]:
import mysql.connector as c
from mysql.connector import Error
try:
    conn = c.connect(host='localhost', database='sales', user='root',
                         password='cbr250R0471@')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
       
        print("You're connected to database: ", record)
        cursor.execute('DROP TABLE IF EXISTS item;')
        print('Creating table....')
   
        sql=('CREATE TABLE item'
             +'(\n'
             +'Item_No VARCHAR(5) NOT NULL,'
             +'Item_type VARCHAR(255) NOT NULL,'
             +'Discount INT NOT NULL,'
             +'Item_price INT NOT NULL,'
             +'PRIMARY KEY (Item_No)'             
             +')'
                             )
        cursor.execute(sql)
        print("Table is created....")
    
        
        for i, row in df.iterrows():            
             cursor.execute("INSERT INTO sales.item(Item_no,Item_type,Discount,Item_price) VALUES (%s,%s,%s,%s)", 
                           [row['Item_No'],row['Item_type'], row['Discount'], row['Item_price'] ])
        print('rows executed')
        conn.commit()
        
except Error as e:
            print("Error while connecting to MySQL", e)

You're connected to database:  ('sales',)
Creating table....
Table is created....
rows executed

In [28]:
import mysql.connector as c
from mysql.connector import Error
try:
    conn = c.connect(host='localhost', database='sales', user='root',
                         password='cbr250R0471@')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
       
        print("You're connected to database: ", record)
        cursor.execute('DROP TABLE IF EXISTS customer;')
        print('Creating table....')
   
        sql=('CREATE TABLE customer'
             +'(\n'
             +'Cust_ID VARCHAR(4) NOT NULL,'
             +'first_name VARCHAR(255) NOT NULL,'
             +'last_name VARCHAR(255) NOT NULL,'
             +'Cust_state VARCHAR(35) NOT NULL,'
             +'Cust_address VARCHAR(255) NOT NULL,'
             +'Cust_postcode INT NOT NULL,'
             +'PRIMARY KEY (Cust_ID)'             
             +')'
             )
        cursor.execute(sql)
        print("Table is created....")
    
        
        for i, row in df.iterrows():            
             cursor.execute("INSERT INTO sales.customer(Cust_ID,Cust_state,Cust_address,Cust_postcode,first_name,last_name) VALUES (%s,%s,%s,%s,%s,%s)", 
                           [row['Cust_ID'],row['Cust_state'], row['Cust_address'], row['Cust_postcode'],row['first_name'],row['last_name']])
        print('rows executed')
        conn.commit()
        
except Error as e:
            print("Error while connecting to MySQL", e)

You're connected to database:  ('sales',)
Creating table....
Table is created....
rows executed

In [29]:
import mysql.connector as c
from mysql.connector import Error
try:
    conn = c.connect(host='localhost', database='sales', user='root',
                         password='cbr250R0471@')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
       
        print("You're connected to database: ", record)
        cursor.execute('DROP TABLE IF EXISTS invoiceitem;')
        print('Creating table....')
   
        sql=('CREATE TABLE invoiceitem'
             +'(\n'
             +'Line_no VARCHAR(3) NOT NULL,'
             +'Quantity INT NOT NULL,'
             +'Item_No VARCHAR(5) NOT NULL,'
             +'PRIMARY KEY (Line_No),'
             +'FOREIGN KEY (Item_No) REFERENCES item(Item_No)'             
             +')'
             )
        cursor.execute(sql)
        print("Table is created....")
    
        
        for i, row in df.iterrows():            
             cursor.execute("INSERT INTO sales.invoiceitem(Line_no,Quantity,Item_No) VALUES (%s,%s,%s)", 
                           [row['Line_No'],row['Quantity'], row['Item_No']])
        print('rows executed')
        conn.commit()
        
except Error as e:
            print("Error while connecting to MySQL", e)

You're connected to database:  ('sales',)
Creating table....
Table is created....
rows executed

In [30]:
import mysql.connector as c
from mysql.connector import Error
try:
    conn = c.connect(host='localhost', database='sales', user='root',
                         password='cbr250R0471@')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
       
        print("You're connected to database: ", record)
        cursor.execute('DROP TABLE IF EXISTS invoice;')
        print('Creating table....')
   
        sql=('CREATE TABLE invoice'
             +'(\n'
             +'Invoice_No VARCHAR(9) NOT NULL,'
             +'Invoice_Date VARCHAR(15)  NOT NULL,'
             +'Invoice_time VARCHAR(9) NOT NULL,'
             +'Cust_ID VARCHAR(4) NOT NULL,'
             +'PRIMARY KEY (Invoice_No),'
             +'FOREIGN KEY (Cust_ID) REFERENCES customer(Cust_ID)'             
             +')'
             )
        cursor.execute(sql)
        print("Table is created....")
    
        
        for i, row in df.iterrows():            
             cursor.execute("INSERT INTO sales.invoice(Invoice_No,Invoice_Date,Invoice_time,Cust_ID) VALUES (%s,%s,%s,%s)", 
                           [row['Invoice_No'],row['Invoice_Date'], row['Invoice_time'], row['Cust_ID']])
        print('rows executed')
        conn.commit()
        
except Error as e:
            print("Error while connecting to MySQL", e)

You're connected to database:  ('sales',)
Creating table....
Table is created....
rows executed

In [31]:
import mysql.connector as c
from mysql.connector import Error
try:
    conn = c.connect(host='localhost', database='sales', user='root',
                         password='cbr250R0471@')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
       
        print("You're connected to database: ", record)
        cursor.execute('DROP TABLE IF EXISTS consist;')
        print('Creating table....')
   
        sql=('CREATE TABLE consist'
             +'(\n'
             +'Line_No VARCHAR(3) NOT NULL,'
             +'Invoice_No VARCHAR(9) NOT NULL,'
             +'PRIMARY KEY (Invoice_No, Line_no),'
             +'FOREIGN KEY (Invoice_No) REFERENCES invoice(Invoice_No),' 
             +'FOREIGN KEY (Line_no) REFERENCES invoiceitem(Line_no)'
             +')'
             )
        cursor.execute(sql)
        print("Table is created....")
    
        
        for i, row in df.iterrows():            
             cursor.execute("INSERT INTO sales.consist(Line_No,Invoice_No) VALUES (%s,%s)", 
                           [row['Line_No'],row['Invoice_No']])
        print('rows executed')
        conn.commit()
        
except Error as e:
            print("Error while connecting to MySQL", e)

You're connected to database:  ('sales',)
Creating table....
Table is created....
rows executed