In [1]:
import pandas as pd
from selenium import webdriver

In [2]:
from selenium.webdriver.common.by import By
from time import sleep 
from selenium.webdriver.support.wait import WebDriverWait as wait

In [27]:
driver = webdriver.Firefox()

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [4]:
def DA_jobs(url):
    url = "https://www.naukri.com/"
    driver.get(url)
    sleep(4)                            # for the web page to load properly -----> as Javascript elements takes time to load 
    search_job = driver.find_element_by_id("qsb-keyword-sugg")
    search_job.send_keys("Data Analyst")
    search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
    search_loc.send_keys("Bangalore")
#     wait(driver, 5).until(EC.element_to_be_clickable((By.XPATH, "//div[@class='search-btn']/button")))
    search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
    search_btn.click()

    job_title = []
    company_names=[]
    locations_list=[]
    experience_list=[]
  
    sleep(4)    # for the web page to load properly
    title_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
    

    
    loc_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
    company_nametag = driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a[1]")
    experience_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

    for i in title_tags:
        titlename = i.text
        
        job_title.append(titlename)
     
    
    for i in experience_tags:
        exp = i.text
        experience_list.append(exp)
    
    for i in loc_tags:
        location = i.text
        locations_list.append(location)
 
    for i in company_nametag:
        name = i.text
        company_names.append(name)
    
    df=pd.DataFrame({"Job Title":job_title[0:10], "Experience":experience_list[0:10],"Company Name": company_names[0:10], "Location": locations_list[0:10]})
    return df

In [5]:
DA_jobs("https://www.naukri.com/")

<ipython-input-4-49341aef8049>:5: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job = driver.find_element_by_id("qsb-keyword-sugg")
<ipython-input-4-49341aef8049>:7: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
<ipython-input-4-49341aef8049>:10: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
<ipython-input-4-49341aef8049>:19: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
<ipython-input-4-49341aef8049>:23: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  loc_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
<ipython-input-4-49341aef8049>:24: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  company_nametag = driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a[1]")
<ipython-input-4-49341aef8049>:25: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  experience_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

,Job Title,Experience,Company Name,Location
0,Senior Business Data Analyst,3-8 Yrs,Tech Data Advanced Solutions India Pvt Ltd,"Bangalore/Bengaluru, Mumbai (All Areas)"
1,Data Analyst - Flipkart Analytics,0-3 Yrs,Flipkart,Bangalore/Bengaluru(Bellandur)
2,Business Data Analyst - Database Design/Mining,2-5 Yrs,AugmatrixGo,Bangalore/Bengaluru
3,Urgent Openings For Data Analyst / Business An...,1-6 Yrs,Flipkart,Bangalore/Bengaluru
4,Data Analyst,0-2 Yrs,Rupeek Fintech Pvt Ltd,Bangalore/Bengaluru
5,Business Data Analyst(BigId) - Capco - Bangalore,3-8 Yrs,Capco Technologies Pvt Ltd,Bangalore/Bengaluru
6,Data Analyst,1-4 Yrs,CINDREBAY SCHOOL OF FASHION & INTERIOR DESIGN,"Kochi/Cochin, Cannanore/Kannur, Nagpur, Calicu..."
7,Senior Data Analyst,6-11 Yrs,Pioneer Business Solutions,Bangalore/Bengaluru
8,Senior Data Analyst,3-5 Yrs,Advanced Computer Software,Bangalore/Bengaluru
9,Sr Data Analyst,3-8 Yrs,Pioneer Business Solutions,Bangalore/Bengaluru

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [6]:
def DS_jobs(url):

    url = "https://www.naukri.com/"
    driver.get(url)
    sleep(4)
    search_job = driver.find_element_by_id("qsb-keyword-sugg")
    search_job.send_keys("Data Scientist")
    search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
    search_loc.send_keys("Bangalore")
    search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
    search_btn.click()

    job_title = []
    company_names=[]
    locations_list=[]
    experience_list=[]
    
    sleep(4)
    title_tags = driver.find_elements_by_xpath(r"//a[@class='title fw500 ellipsis']")
    loc_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
    company_nametag = driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a[1]")
    experience_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

    for i in title_tags:
        titlename = i.text
        job_title.append(titlename)
    
    for i in experience_tags:
        exp = i.text
        experience_list.append(exp)
    
    for i in loc_tags:
        location = i.text
        locations_list.append(location)
 
    for i in company_nametag:
        name = i.text
        company_names.append(name)
    
   
    
    df=pd.DataFrame({"Job Title":job_title[0:10], "Experience":experience_list[0:10],"Company Name": company_names[0:10], "Location": locations_list[0:10]})
    return df

In [7]:
DS_jobs("https://www.naukri.com/")

<ipython-input-6-1ad230c28173>:6: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job = driver.find_element_by_id("qsb-keyword-sugg")
<ipython-input-6-1ad230c28173>:8: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
<ipython-input-6-1ad230c28173>:10: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
<ipython-input-6-1ad230c28173>:19: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tags = driver.find_elements_by_xpath(r"//a[@class='title fw500 ellipsis']")
<ipython-input-6-1ad230c28173>:20: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  loc_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
<ipython-input-6-1ad230c28173>:21: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  company_nametag = driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a[1]")
<ipython-input-6-1ad230c28173>:22: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  experience_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

,Job Title,Experience,Company Name,Location
0,Senior Data Scientist,2-5 Yrs,Hitachi Ltd.,Bangalore/Bengaluru
1,Forecasting Analyst/ Data Scientist (US Client),3-8 Yrs,Concentrix Daksh Services,"Gurgaon/Gurugram, Bangalore/Bengaluru"
2,Data Scientist,1-3 Yrs,Toppr,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M..."
3,Process Innovation Analyst - APAC/Data Scienti...,4-8 Yrs,Bayer,"Bangalore/Bengaluru, Hyderabad"
4,Data Scientist,3-7 Yrs,Hitachi Ltd.,Bangalore/Bengaluru
5,Data Scientist,2-5 Yrs,Mobiotics IT Solution Pvt Ltd,Bangalore/Bengaluru(HSR Layout)
6,Data Scientist,5-10 Yrs,Hitachi Ltd.,Bangalore/Bengaluru
7,Senior Data Scientist,3-7 Yrs,Bigshyft Hiring for PayTM (One97 Communications),Bangalore/Bengaluru
8,Data Scientist: Advanced Analytics,5-10 Yrs,IBM India Pvt. Limited,Bangalore/Bengaluru
9,Data Scientist: Artificial Intelligence,4-6 Yrs,IBM India Pvt. Limited,Bangalore/Bengaluru

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code.

In [8]:
def DS_filter_jobs(url):

    url = "https://www.naukri.com/"
    driver.get(url)
    sleep(4)
    search_job = driver.find_element_by_id("qsb-keyword-sugg")
    search_job.send_keys("Data Scientist")
    search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
    search_loc.send_keys("Bangalore")
    search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
    search_btn.click()
    sleep(4)
    filter_loc = driver.find_element_by_xpath("//label[@for='chk-Delhi / NCR-cityTypeGid-']/i[1]")
    filter_loc.click()
    sleep(4)
    filter_sal = driver.find_element_by_xpath("//div[@class='mt-8 chckBoxCont']/label[@for='chk-3-6 Lakhs-ctcFilter-']/i")
    filter_sal.click()

    job_title = []
    company_names=[]
    locations_list=[]
    experience_list=[]
    
    sleep(4)
    title_tags = driver.find_elements_by_xpath(r"//a[@class='title fw500 ellipsis']")
    loc_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
    company_nametag = driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a[1]")
    experience_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

    for i in title_tags:
        titlename = i.text
        job_title.append(titlename)
    
    for i in experience_tags:
        exp = i.text
        experience_list.append(exp)
    
    for i in loc_tags:
        location = i.text
        locations_list.append(location)
 
    for i in company_nametag:
        name = i.text
        company_names.append(name)
    
   
    
    df=pd.DataFrame({"Job Title":job_title[0:10], "Experience":experience_list[0:10],"Company Name": company_names[0:10], "Location": locations_list[0:10]})
    return df

In [9]:
DS_filter_jobs("https://www.naukri.com/")

<ipython-input-8-951487bb7632>:6: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job = driver.find_element_by_id("qsb-keyword-sugg")
<ipython-input-8-951487bb7632>:8: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
<ipython-input-8-951487bb7632>:10: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
<ipython-input-8-951487bb7632>:13: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  filter_loc = driver.find_element_by_xpath("//label[@for='chk-Delhi / NCR-cityTypeGid-']/i[1]")
<ipython-input-8-951487bb7632>:16: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  filter_sal = driver.find_element_by_xpath("//div[@class='mt-8 chckBoxCont']/label[@for='chk-3-6 Lakhs-ctcFilter-']/i")
<ipython-input-8-951487bb7632>:25: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tags = driver.find_elements_by_xpath(r"//a[@class='title fw500 ellipsis']")
<ipython-input-8-951487bb7632>:26: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  loc_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
<ipython-input-8-951487bb7632>:27: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  company_nametag = driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a[1]")
<ipython-input-8-951487bb7632>:28: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  experience_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

,Job Title,Experience,Company Name,Location
0,Data Scientist,2-6 Yrs,ThinkBumblebee Analytics Pvt. Ltd.,"Pune, Bangalore/Bengaluru, Delhi / NCR"
1,Data Scientist,0-2 Yrs,Think i,"Kochi/Cochin, Kolkata, Hyderabad/Secunderabad,..."
2,Data Scientist,3-7 Yrs,Fractal Analytics,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru"
3,Academic Counsellor - Data Scientist,1-4 Yrs,GreatLearning,"Gurgaon/Gurugram, Bangalore/Bengaluru"
4,Data Scientist,3-7 Yrs,BlackBuck,"Gurgaon, Bengaluru"
5,Data Scientist,1-3 Yrs,Country Veggie,"Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpu..."
6,Immediate requirement For Data Scientist,2-7 Yrs,CALIBEHR BUSINESS SUPPORT SERVICES PRIVATE LIM...,"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,..."
7,Data Scientist,3-5 Yrs,EXL Service,"Gurgaon/Gurugram, Bangalore/Bengaluru"
8,Data Scientist,1-3 Yrs,Urban Company,"Gurgaon/Gurugram, Bangalore/Bengaluru"
9,Data Scientist,6-11 Yrs,Hexagon Geosystems Services India P.Ltd.,"Gurgaon/Gurugram, Bangalore/Bengaluru"

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount

The attributes which you have to scrape is ticked marked in the below image.

To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom of the page , then click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.

In [11]:
def flipkart(url):
    url = "https://www.flipkart.com/"
    driver.get(url)
    sleep(4)
    click_oncross = driver.find_element_by_xpath("//div[@class='_2QfC02']/button[1]")   #comment this if running the same chrome window since 1st question
    click_oncross.click()                                                               #comment this if running the same chrome window since 1st question
    
    search_prod = driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input[1]")
    search_prod.send_keys("Sunglasses")
    search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
    search_btn.click()
    sleep(4)
    
    discount=[]
    name = []
    price = []
    descr=[]
            
    for page in range(1,4):
        
        prodname = driver.find_elements_by_xpath("//div[@class='_1xHGtK _373qXS']/div[@class='_2B099V']/div[1]")
        for i in prodname:
            name.append(i.text)

        price_tag= driver.find_elements_by_xpath("//div[@class='_30jeq3']")
        for i in price_tag[0:40]:
            price.append(i.text)

        descr_tags=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")
        for i in descr_tags:
            descr.append(i.text)

        disc_tags= driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
        for i in disc_tags[0:40]:
            discount.append(i.text)
        
        if page==1:
            next_btn = driver.find_elements_by_xpath("//a[@class='_1LKTO3']/span")[0]
           
        else:
            next_btn = driver.find_elements_by_xpath("//a[@class='_1LKTO3']")[1]
        next_btn.click()
        sleep(4)

    
    df = pd.DataFrame({"Name": name[0:100], "Price": price[0:100], "Discount": discount[0:100], "Description": descr[0:100]})
    return df
flipkart("https://www.flipkart.com/")

<ipython-input-11-ce37d4335094>:5: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  click_oncross = driver.find_element_by_xpath("//div[@class='_2QfC02']/button[1]")   #comment this if running the same chrome window since 1st question
<ipython-input-11-ce37d4335094>:8: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_prod = driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input[1]")
<ipython-input-11-ce37d4335094>:10: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
<ipython-input-11-ce37d4335094>:21: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  prodname = driver.find_elements_by_xpath("//div[@class='_1xHGtK _373qXS']/div[@class='_2B099V']/div[1]")
<ipython-input-11-ce37d4335094>:25: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  price_tag= driver.find_elements_by_xpath("//div[@class='_30jeq3']")
<ipython-input-11-ce37d4335094>:29: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  descr_tags=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")
<ipython-input-11-ce37d4335094>:33: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  disc_tags= driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
<ipython-input-11-ce37d4335094>:38: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  next_btn = driver.find_elements_by_xpath("//a[@class='_1LKTO3']/span")[0]
<ipython-input-11-ce37d4335094>:41: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  next_btn = driver.find_elements_by_xpath("//a[@class='_1LKTO3']")[1]

,Name,Price,Discount,Description
0,PIRASO,₹250,84% off,UV Protection Aviator Sunglasses (55)
1,PIRASO,₹349,88% off,"UV Protection Rectangular, Over-sized Sunglass..."
2,SRPM,₹188,85% off,UV Protection Wayfarer Sunglasses (56)
3,SUNBEE,₹276,83% off,"UV Protection, Polarized, Mirrored Round Sungl..."
4,Fastrack,₹639,20% off,UV Protection Rectangular Sunglasses (Free Size)
...,...,...,...,...
95,ROZZETTA CRAFT,₹330,73% off,UV Protection Sports Sunglasses (73)
96,ROYAL SON,₹349,82% off,"UV Protection, Gradient Retro Square Sunglasse..."
97,GANSTA,₹449,70% off,UV Protection Rectangular Sunglasses (Free Size)
98,GANSTA,₹196,80% off,"UV Protection, Mirrored Wayfarer Sunglasses (53)"
99,ROYAL SON,₹224,85% off,UV Protection Clubmaster Sunglasses (53)

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/
p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage .

As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review_summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [12]:
def iphone_review(url):
    url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC"
    driver.get(url)

    sleep(4)
    all_btn = driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']")
    all_btn.click()

    sleep(4)
    ratings=[]
    review_sum=[]
    descr=[]

    for page in range(1,11):

        review_title=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
        for i in review_title:
            review_sum.append(i.text) 

        rating_tags=driver.find_elements_by_xpath("//div[@class='_27M-vq']/div[1]/div[1]/div[1]")
        for i in rating_tags:
            ratings.append(i.text[0])

        descr_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
        for i in descr_tags:
            descr.append(i.text)

        if page==1:
            driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
        else:
            driver.find_elements_by_xpath("//a[@class='_1LKTO3']")[1].click()

#         print(len(review_sum),len(ratings), len(descr))
        sleep(2)
    df = pd.DataFrame({"Short review": review_sum, "Rating": ratings, "Full review": descr})
    return df

In [13]:
iphone_review("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC")

<ipython-input-12-dd1a693bfc8d>:6: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  all_btn = driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']")
<ipython-input-12-dd1a693bfc8d>:16: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  review_title=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
<ipython-input-12-dd1a693bfc8d>:20: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rating_tags=driver.find_elements_by_xpath("//div[@class='_27M-vq']/div[1]/div[1]/div[1]")
<ipython-input-12-dd1a693bfc8d>:24: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  descr_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
<ipython-input-12-dd1a693bfc8d>:29: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
<ipython-input-12-dd1a693bfc8d>:31: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  driver.find_elements_by_xpath("//a[@class='_1LKTO3']")[1].click()

,Short review,Rating,Full review
0,Brilliant,5,The Best Phone for the Money\n\nThe iPhone 11 ...
1,Simply awesome,5,Really satisfied with the Product I received.....
2,Perfect product!,5,Amazing phone with great cameras and better ba...
3,Worth every penny,5,Previously I was using one plus 3t it was a gr...
4,Fabulous!,5,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,Super!,5,This is my first ever iPhone.\nAnd I truly don...
96,Just wow!,5,The ultimate performance\nCamera is superb\nTh...
97,Terrific purchase,5,I use a Note10+ and have been using both iOS a...
98,Awesome,5,The phone is completely good\nAs far as camera...
99,Decent product,3,Everything u ll like it when u use this iPhone...

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
4. Discount

In [14]:
def sneakers(url):
    url = "https://www.flipkart.com/"
    driver.get(url)
    sleep(4)
    
    try:
        click_oncross = driver.find_element_by_xpath("//div[@class='_2QfC02']/button[1]")   
        click_oncross.click()                                                               
    
    except:
        pass
    
    search_prod = driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input[1]")
    search_prod.send_keys("Sneakers")
    search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
    search_btn.click()
    sleep(4)

    discount=[]
    name = []
    price = []
    descr=[]
            
    for page in range(1,4):
        
        prodname = driver.find_elements_by_xpath("//div[@class='_1xHGtK _373qXS']/div[@class='_2B099V']/div[1]")
        for i in prodname:
            name.append(i.text)

        price_tag= driver.find_elements_by_xpath("//div[@class='_30jeq3']")
        for i in price_tag[0:40]:
            price.append(i.text)

        descr_tags=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")
        for i in descr_tags:
            descr.append(i.text)

        disc_tags= driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
        for i in disc_tags[0:40]:
            discount.append(i.text)
        
        if page==1:
            next_btn = driver.find_elements_by_xpath("//a[@class='_1LKTO3']/span")[0]
           
        else:
            next_btn = driver.find_elements_by_xpath("//a[@class='_1LKTO3']")[1]
        next_btn.click()
        sleep(4)

    
    df = pd.DataFrame({"Name": name[0:100], "Price": price[0:100], "Discount": discount[0:100], "Description": descr[0:100]})
    return df
sneakers("https://www.flipkart.com/")

<ipython-input-14-e554353c17b0>:7: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  click_oncross = driver.find_element_by_xpath("//div[@class='_2QfC02']/button[1]")
<ipython-input-14-e554353c17b0>:13: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_prod = driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input[1]")
<ipython-input-14-e554353c17b0>:15: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
<ipython-input-14-e554353c17b0>:26: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  prodname = driver.find_elements_by_xpath("//div[@class='_1xHGtK _373qXS']/div[@class='_2B099V']/div[1]")
<ipython-input-14-e554353c17b0>:30: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  price_tag= driver.find_elements_by_xpath("//div[@class='_30jeq3']")
<ipython-input-14-e554353c17b0>:34: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  descr_tags=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")
<ipython-input-14-e554353c17b0>:38: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  disc_tags= driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
<ipython-input-14-e554353c17b0>:43: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  next_btn = driver.find_elements_by_xpath("//a[@class='_1LKTO3']/span")[0]
<ipython-input-14-e554353c17b0>:46: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  next_btn = driver.find_elements_by_xpath("//a[@class='_1LKTO3']")[1]

,Name,Price,Discount,Description
0,Chevit,₹599,60% off,Unique & Perfect Collection Combo Pack of 02 S...
1,PUMA,"₹7,649",15% off,BMW MMS Speedcat M Sneakers For Men
2,Numenzo,₹479,63% off,Sneakers For Men
3,SCATCHITE,₹398,60% off,Sneakers Sneakers For Men
4,Magnolia,₹398,60% off,Sneakers For Men
...,...,...,...,...
95,RODDICK SHOES,₹399,60% off,Smart Casuals Canvas Shoes Combo pack of 2 Sne...
96,ASIAN,₹474,52% off,Fashion Outdoor Canvas Casual Light Weight Lac...
97,Chevit,₹399,50% off,"Skypy-31 Walking Shoes,Training Shoes,Sneakers..."
98,Neeman's,₹347,56% off,516 Sneakers For Men
99,BIRDE,"₹2,399",20% off,Sneakers For Men

Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image. And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image.

In [15]:
def myntra_shoes(url):

    url = "https://www.myntra.com/shoes/"
    driver.get(url)
    sleep(4)
    
    filter_col = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
    filter_col.click()
    sleep(4)
    filter_price = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
    filter_price.click()


    sleep(4)
    name = []
    price = []
    descr=[]

    for page in range(1,3):

        prodname = driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3")
        for i in prodname:
            name.append(i.text)

        price_tag = driver.find_elements_by_xpath("//div[@class='product-price']/span[1]")
        for i in price_tag:
            price.append(i.text)

        descr_tags=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h4")
        for i in descr_tags:
            descr.append(i.text)


        next_btn = driver.find_element_by_xpath("//li[@class='pagination-next']/a[1]")
        next_btn.click()
        sleep(4)
#         print(len(name),len(price), len(descr))
    
    df=pd.DataFrame({"Name":name, "Price":price ,"Description": descr[0:200:2]})
    return df

In [16]:
myntra_shoes("https://www.myntra.com/shoes/")

<ipython-input-15-17ec094cc4eb>:7: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  filter_col = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
<ipython-input-15-17ec094cc4eb>:10: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  filter_price = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
<ipython-input-15-17ec094cc4eb>:21: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  prodname = driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3")
<ipython-input-15-17ec094cc4eb>:25: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  price_tag = driver.find_elements_by_xpath("//div[@class='product-price']/span[1]")
<ipython-input-15-17ec094cc4eb>:29: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  descr_tags=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h4")
<ipython-input-15-17ec094cc4eb>:34: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  next_btn = driver.find_element_by_xpath("//li[@class='pagination-next']/a[1]")

            Name              Price                        Description
0           Nike           Rs. 7195      Men Zoom Span 4 Running Shoes
1           Nike           Rs. 7995         Men FLIGHT LEGACY Sneakers
2   Hush Puppies   Rs. 8099Rs. 8999  Men Solid Leather Formal Slip-Ons
3   Calvin Klein  Rs. 8249Rs. 10999        Men Mid-Top Runner Sneakers
4           Nike           Rs. 7195         Men BlazerLow '77 Sneakers
..           ...                ...                                ...
95          Geox           Rs. 9999                Women Leather Pumps
96       Bugatti           Rs. 9999                  Men Running Shoes
97         KLEAT           Rs. 7999                  Men Solid Brogues
98          Geox           Rs. 8999        Women Quilted Leather Pumps
99       Saint G           Rs. 9500                 Women Heeled Boots

[100 rows x 3 columns]

Q8. Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [17]:
def amazon_laptop(url):
    url = "https://www.amazon.in/"
    driver.get(url)
    sleep(4)

    search_prod = driver.find_element_by_xpath("//div[@class='nav-search-field ']/input[1]")
    search_prod.send_keys("Laptop")
    search_btn = driver.find_element_by_xpath("//span[@id='nav-search-submit-text']/input[1]")
    search_btn.click()
    sleep(4)

    # filter_i9 = driver.find_element_by_xpath("//li[@id='p_n_feature_thirteen_browse-bin/16757432031']/span[1]/a[1]/div[1]/label[1]/i[1]")
    # filter_i9.click()
    # # sleep(4)
    filter_i7 = driver.find_element_by_xpath("//span[text()='Intel Core i7']")
    filter_i7.click()

    prodname=[]
    names=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']/a/span[1]") 
    for i in names:
        prodname.append(i.text)
    ratings=[]
    stars = driver.find_elements_by_xpath("//div[@class='a-row a-size-small']/span[1]")
    for i in stars:
        ratings.append(i.get_attribute('aria-label'))

    ratings.insert(8, "Not Available" )

    price=[]
    price_tag=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
    for i in price_tag:
        price.append(i.text)
    df=pd.DataFrame({"Product Name & Descr.": prodname[0:10], "Ratings": ratings[0:10], "Price":price[0:10]})
    return df

In [18]:
amazon_laptop("https://www.amazon.in/")

<ipython-input-17-d90ede4e7a20>:6: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_prod = driver.find_element_by_xpath("//div[@class='nav-search-field ']/input[1]")
<ipython-input-17-d90ede4e7a20>:8: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn = driver.find_element_by_xpath("//span[@id='nav-search-submit-text']/input[1]")
<ipython-input-17-d90ede4e7a20>:15: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  filter_i7 = driver.find_element_by_xpath("//span[text()='Intel Core i7']")
<ipython-input-17-d90ede4e7a20>:19: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  names=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']/a/span[1]")
<ipython-input-17-d90ede4e7a20>:23: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  stars = driver.find_elements_by_xpath("//div[@class='a-row a-size-small']/span[1]")
<ipython-input-17-d90ede4e7a20>:30: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  price_tag=driver.find_elements_by_xpath("//span[@class='a-price-whole']")

,Product Name & Descr.,Ratings,Price
0,Lenovo ThinkBook 13s Intel 11th Gen Core i7 13...,4.3 out of 5 stars,"89,990"
1,HP Envy Intel 11th Gen Core i7 Processor 13.3 ...,4.1 out of 5 stars,"1,24,000"
2,Mi Notebook Horizon Edition 14 Intel Core i7-1...,4.2 out of 5 stars,"56,990"
3,"ASUS TUF Gaming F17 (2021), 17.3-inch (43.94 c...",4.7 out of 5 stars,"1,13,990"
4,"Microsoft Surface Laptop Studio - 14.4"" Touchs...",4.0 out of 5 stars,"3,73,999"
5,HP Pavilion (2021) Intel 11th Gen Core i7 14 i...,4.3 out of 5 stars,"84,990"
6,Dell 14 (2021) i7-1195G7 2in1 Touch Screen Lap...,4.6 out of 5 stars,"88,508"
7,Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....,4.1 out of 5 stars,"85,990"
8,Acer Nitro 5 AN515-57 Gaming Laptop | Intel Co...,Not Available,"93,990"
9,HP Pavilion 13(2021) 11th Gen Intel Core i7 13...,3.8 out of 5 stars,"89,700"

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.

This task will be done in following steps:

1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter “Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter “Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.

In [19]:
def ambbox_jobs(url):
    url = "https://www.ambitionbox.com/"
    driver.get(url)
    sleep(4)


    click_jobs = driver.find_element_by_xpath("//a[@class='link jobs']")
    click_jobs.click()
    enter_job_title = driver.find_element_by_xpath("//input[@class='input tt-input']")
    enter_job_title.send_keys("Data Scientist")
    search_btn = driver.find_element_by_xpath("//button[@class='ab_btn search-btn round']/span[1]")
    search_btn.click()
    sleep(4)

    drop_down = driver.find_element_by_xpath("//div[@title='Location']/i[1]")
    drop_down.click()
    sleep(2)

    enter_loc = driver.find_element_by_xpath("//input[@placeholder='Search locations']")
    enter_loc.send_keys("Noida")

    location = driver.find_element_by_xpath("//input[@id='location_Noida']")
    location.click()
    sleep(4)

    jobtitle=[]
    for i in driver.find_elements_by_xpath("//a[@class='title noclick']"):
        jobtitle.append(i.text)

    compname=[]
    for i in driver.find_elements_by_xpath("//p[@class='company body-medium']"):
        compname.append(i.text)
        
    exp=[]
    for i in driver.find_elements_by_xpath("//div[@class='other-info']/div[1]/div[1]"):
        exp.append(i.text)
        
    df=pd.DataFrame({"Job title": jobtitle, "Name": compname, "Experience":exp})
    return df

In [20]:
ambbox_jobs("https://www.ambitionbox.com/")

<ipython-input-19-af90fa018b67>:7: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  click_jobs = driver.find_element_by_xpath("//a[@class='link jobs']")
<ipython-input-19-af90fa018b67>:9: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  enter_job_title = driver.find_element_by_xpath("//input[@class='input tt-input']")
<ipython-input-19-af90fa018b67>:11: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn = driver.find_element_by_xpath("//button[@class='ab_btn search-btn round']/span[1]")
<ipython-input-19-af90fa018b67>:15: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  drop_down = driver.find_element_by_xpath("//div[@title='Location']/i[1]")
<ipython-input-19-af90fa018b67>:19: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  enter_loc = driver.find_element_by_xpath("//input[@placeholder='Search locations']")
<ipython-input-19-af90fa018b67>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  location = driver.find_element_by_xpath("//input[@id='location_Noida']")
<ipython-input-19-af90fa018b67>:27: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for i in driver.find_elements_by_xpath("//a[@class='title noclick']"):
<ipython-input-19-af90fa018b67>:31: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for i in driver.find_elements_by_xpath("//p[@class='company body-medium']"):
<ipython-input-19-af90fa018b67>:35: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for i in driver.find_elements_by_xpath("//div[@class='other-info']/div[1]/div[1]"):

,Job title,Name,Experience
0,Data Scientist,Optum Global Solutions (India) Private Limited,2-6 Yrs
1,Urgent Requirement || Data Scientist || Noida,Steria India Ltd,4-8 Yrs
2,Group Lead-Data Scientist,Ameriprise Financial,4-7 Yrs
3,Jubilant FoodWorks - Data Scientist - Deep Lea...,Jubilant Foodworks Limited,2-6 Yrs
4,Urgent Vacancy || Data Scientist || Noida,Steria India Ltd,2-6 Yrs
5,Urgent Requirement || Data Scientist || Noida,Steria India Ltd,4-8 Yrs
6,Senior Data Scientist,HCL Technologies Limited,10-15 Yrs
7,Manager - Data Scientist - Retail/BFSI (8-15 yrs),GI Group,8-15 Yrs
8,Data Scientist - Machine Learning (5-14 yrs),Zyoin,5-14 Yrs
9,Data Scientist - Data Science/Model Developmen...,GI Group,0-6 Yrs

Q10: You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and
then click on “Data Scientist”.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [28]:
def ambbox_sal(url):
    url = "https://www.ambitionbox.com/"
    driver.get(url)
    sleep(4)


    click_sal = driver.find_element_by_xpath("//a[@class='link salaries']")
    click_sal.click()
    enter_job = driver.find_element_by_xpath("//input[@class='component-input tt-input']")
    enter_job.send_keys("Data Scientist")
    searchbtn = driver.find_element_by_xpath("//button[@class='ab_btn search-btn round component-search-btn']")
    searchbtn.click()
    sleep(4)

    click_ds_sal = driver.find_element_by_xpath("//a[@data-ctorig='https://www.ambitionbox.com/profile/data-scientist-salary']")
    click_ds_sal.click()
    sleep(4)

    driver.switch_to.window(driver.window_handles[-1])

    totalsal=[]
    for i in driver.find_elements_by_xpath("//div[@class='company-info']/div[1]/span[1]"):
        totalsal.append(i.text)

    compname=[]
    for i in driver.find_elements_by_xpath("//div[@class='company-info']/div[1]/a[1]"):
        compname.append(i.text)

    exp=[]
    for i in driver.find_elements_by_xpath("//div[@class='salaries one-line sbold-list-header']/span[1]"):
        exp.append(i.text)

    minsal=[]
    for i in driver.find_elements_by_xpath("//div[@class='result-col salary-range']/div[1]/div[2]/div[1]"):
        minsal.append(i.text)

    maxsal=[]
    for i in driver.find_elements_by_xpath("//div[@class='result-col salary-range']/div[1]/div[2]/div[2]"):
        maxsal.append(i.text)

    avgsal=[]
    for i in driver.find_elements_by_xpath("//div[@class='result-col salary-range']/div[1]/div[1]/div[1]/p"):
        avgsal.append(i.text)
    
    df = pd.DataFrame({"Name of company":compname, "Experience": exp, "Total salaries given": totalsal, "Min Salary": minsal, "Max Salary": maxsal, "Average Salary": avgsal})
    return df

In [29]:
ambbox_sal("https://www.ambitionbox.com/")

<ipython-input-28-abd2e1608840>:7: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  click_sal = driver.find_element_by_xpath("//a[@class='link salaries']")
<ipython-input-28-abd2e1608840>:9: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  enter_job = driver.find_element_by_xpath("//input[@class='component-input tt-input']")
<ipython-input-28-abd2e1608840>:11: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  searchbtn = driver.find_element_by_xpath("//button[@class='ab_btn search-btn round component-search-btn']")
<ipython-input-28-abd2e1608840>:15: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  click_ds_sal = driver.find_element_by_xpath("//a[@data-ctorig='https://www.ambitionbox.com/profile/data-scientist-salary']")
<ipython-input-28-abd2e1608840>:22: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for i in driver.find_elements_by_xpath("//div[@class='company-info']/div[1]/span[1]"):
<ipython-input-28-abd2e1608840>:26: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for i in driver.find_elements_by_xpath("//div[@class='company-info']/div[1]/a[1]"):
<ipython-input-28-abd2e1608840>:30: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for i in driver.find_elements_by_xpath("//div[@class='salaries one-line sbold-list-header']/span[1]"):
<ipython-input-28-abd2e1608840>:34: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for i in driver.find_elements_by_xpath("//div[@class='result-col salary-range']/div[1]/div[2]/div[1]"):
<ipython-input-28-abd2e1608840>:38: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for i in driver.find_elements_by_xpath("//div[@class='result-col salary-range']/div[1]/div[2]/div[2]"):
<ipython-input-28-abd2e1608840>:42: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for i in driver.find_elements_by_xpath("//div[@class='result-col salary-range']/div[1]/div[1]/div[1]/p"):

,Name of company,Experience,Total salaries given,Min Salary,Max Salary,Average Salary
0,TCS,2-9 yrs exp,(594 Salaries),₹ 4.4L,₹ 15.0L,₹ 7.3L
1,Accenture,2-9 yrs exp,(355 Salaries),₹ 5.4L,₹ 22.0L,₹ 11.7L
2,IBM,2-12 yrs exp,(289 Salaries),₹ 5.0L,₹ 22.5L,₹ 11.6L
3,Cognizant,2-11 yrs exp,(233 Salaries),₹ 4.9L,₹ 17.0L,₹ 9.4L
4,Capgemini,2-8 yrs exp,(220 Salaries),₹ 4.6L,₹ 14.3L,₹ 8.2L
5,Tech Mahindra,2-13 yrs exp,(182 Salaries),₹ 4.2L,₹ 16.4L,₹ 7.7L
6,Infosys,2-8 yrs exp,(166 Salaries),₹ 4.5L,₹ 25.0L,₹ 8.7L
7,Wipro,2-9 yrs exp,(164 Salaries),₹ 4.3L,₹ 18.0L,₹ 9.2L
8,Ericsson,2-12 yrs exp,(123 Salaries),₹ 5.0L,₹ 25.0L,₹ 12.9L
9,HCL Technologies,2-10 yrs exp,(116 Salaries),₹ 4.5L,₹ 19.0L,₹ 9.0L